*.gitignore filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
/lib/MathJax/LICENSE filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
/lib/reveal.js/LICENSE filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.scss filter=lfs diff=lfs merge=lfs -text
/lib/reveal.js/lib/font/league-gothic/LICENSE filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
/lib/reveal.js/lib/font/source-sans-pro/LICENSE filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
/pages/diagrams/AI_Concepts_Framing filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.ori filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
/pages/themes/Python_For_ML_1_3/images/animalSequence filter=lfs diff=lfs merge=lfs -text
/pages/themes/Python_For_ML_1_3/images/sequenceStructure filter=lfs diff=lfs merge=lfs -text
/pages/themes/Python_For_ML_1_4/images/animalSequence filter=lfs diff=lfs merge=lfs -text
/pages/themes/Python_For_ML_1_4/images/sequenceStructure filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
